
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
padding: 0;
margin: 0;
font-size: 100%;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background: url(../img/christopher-burns-qHD5SJwj9gM-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}
h1{
    font-size: 3.5rem;
    text-transform: uppercase;
    position: absolute;
    top: 25%;
    right: 30%;
}

p{
    font-size: 2.3rem;
    position: fixed;
    top: 33%;
    right: 30%;
}

